@using Guilded.Areas.Admin.DAL;
@model ThreadViewModel
@inject IUserRoleClaimsForRequest RoleClaims; 
@{
    ViewData[ViewDataKeys.Title] = Model.Title;

    var roleClaims = await RoleClaims.GetRoleClaimsAsync();
}

@section Scripts {
    <environment names="Development">
        <script src="~/js/forums/threads.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/forums/threads.min.js"></script>
    </environment>
}

<h2>
    @Model.Title
    @if (Model.IsLocked)
    {
        <i class="lock icon" title="Locked"></i>
    }
    @if (Model.IsPinned)
    {
        <i class="fa-sticky-note icon" title="Sticky"></i>
    }
</h2>

<input type="hidden" class="last-page" value="@(Model.PagerUrl + "?page=-1")"/>
<input type="hidden" class="delete-reply" value="@(Url.Action("DeleteReply", "Replies", new { area = "Forums", threadId = Model.Id }))"/>

@{ await Html.RenderPartialAsync("SuccessAndErrorMessages"); }

<pager pager-vertical-location="Top" />

@if (!Model.IsLocked && roleClaims.Any(c => c == RoleClaimValues.ForumsWriter))
{
    <a role-claim-protected required-claim="@RoleClaimValues.ForumsWriter" class="ui green icon reply button" asp-fragment="create-reply">
        <i class="reply icon"></i> Reply
    </a>
}

<div class="ui thread comments">
    @if (Model.CurrentPage == 1)
    {
        <div class="comment" data-thread-id="@Model.Id">
            <a class="avatar">
                <img src="https://static.tplugin.com/tplugin/img/unknown-user.png"
                     styles="height: 35px;"/>
            </a>
            <div class="content">
                <a class="author">
                    @Model.Author
                </a>
                <div class="metadata">
                    <span class="date">
                        @Model.CreatedAt.ToRelativeTimeStamp()
                    </span>
                </div>
                <div class="text">
                    <markdown-content/>
                </div>
                <div class="actions">
                    @{ await Html.RenderPartialAsync("IForumPost", Model); }
                </div>
            </div>
        </div>
    }
    
    @Html.DisplayFor(m => m.Models)
</div>

<pager pager-vertical-location="Bottom" />

<div id="create-reply-wrapper">
    <h3>
        Post a reply
    </h3>
    @if (!Model.IsLocked)
    {
        if (roleClaims.Any(c => c == RoleClaimValues.ForumsWriter))
        {
            await Html.RenderPartialAsync("CreateReplyViewModel", model: new CreateReplyViewModel {ThreadId = Model.Id});
        }
        else
        {
            <div class="ui center segment">
                You do not have permission to post to the forums.
            </div>
        }
    }
    else
    {
        <div class="ui center segment">
            <p>
                This thread is locked.
            </p>
        </div>
    }
</div>

