@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData[ViewDataKeys.Title] = $"Admin - {ViewData["Title"]}";
    Stack<Breadcrumb> breadcrumbs = ViewData[ViewDataKeys.BreadCrumbs] as Stack<Breadcrumb>;
}

@section styles
{
    @RenderSection("styles", false)
}

<h2>
    Admin
</h2>

<div class="ui breadcrumb">
    @while (breadcrumbs.Any())
    {
        Breadcrumb currentCrumb = breadcrumbs.Pop();
        var isLastCrumb = !breadcrumbs.Any();
        if (isLastCrumb)
        {
            <div class="active section">
                @currentCrumb.Title
            </div>
        }
        else
        {
            <a class="section" href="@currentCrumb.Url">@currentCrumb.Title</a>
            <i class="right chevron icon divider"></i>
        }
    }
</div>

@RenderBody()

@section scripts
{
    @RenderSection("scripts", false)
}