@model ReplyViewModel

<div class="comment" data-reply-id="@Model.Id">
    <a class="avatar" href="#">
        <img src="https://static.tplugin.com/tplugin/img/unknown-user.png"
             styles="height: 35px;"/>
    </a>
    <div class="content">
        <a class="author">
            @Model.Author
        </a>
        <div class="metadata">
            <span class="date">
                @Model.CreatedAt.ToRelativeTimeStamp()
            </span>
        </div>
        <div class="text">
            <markdown-content content="@Model.Content"/>
        </div>
        <div class="actions">
            @if (!Model.IsThreadLocked)
            {
                <a role-claim-protected required-claim="@RoleClaimValues.ForumsWriter" class="quote" asp-fragment="quote">
                    <i class="comment icon"></i> Quote
                </a>
            }
            <a class="share" asp-fragment="share">
                <i class="retweet icon"></i> Share
            </a>
        </div>
    </div>
</div>