@model ForumViewModel
@{
    ViewData[ViewDataKeys.Title] = Model.Title;
}

<h2>
    @Model.Title
</h2>
<h4>
    @Model.Subtitle
</h4>

<a class="ui small green icon button" asp-area="Forums" asp-controller="Threads" asp-action="CreateThread"
   asp-route-forumSlug="@Model.Slug">
    <i class="fa-plus-circle icon"></i> Create a new thread
</a>

<pager pager-vertical-location="Top" />
@if (Model.PinnedThreads.Any())
{
    <div class="ui segment">
        <h4>
            Pinned threads
        </h4>
        <div class="ui divided feed">
            @Html.DisplayFor(m => m.PinnedThreads)
        </div>
    </div>
}
<div class="ui segment">
    <h4>
        Threads
    </h4>
    @if (Model.Models.Any())
    {
        <div class="ui divided feed">
            @Html.DisplayFor(m => m.Models)
        </div>
    }
    else
    {
        <p>
            No threads to display!
        </p>
    }
</div>
<pager pager-vertical-location="Bottom"/>