@model PaginatedViewModel<ApplicationUserViewModel>
@{
    ViewData[ViewDataKeys.Title] = "Users";
    var pagerUrl = Url.Action("Index", "Users", new {area = "Admin"});
}

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="css/admin/users.css"/>
    </environment>
    <environment names="Staging, Production">
        <link rel="stylesheet" href="css/admin/users.min.css" asp-append-version="true"/>
    </environment>
}

@section Scripts {
    <environment names="Development">
        <script src="js/admin/users.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="js/admin/users.min.js"></script>
    </environment>
}

<h3>
    Users
</h3>

@{ await Html.SuccessAndErrorMessages(); }

@if (!Model.Models.Any())
{
    <div class="ui message">
        <h3>
            There are no users to display!
        </h3>
    </div>
}
else
{
    <guilded-pager pager-page="@Model.CurrentPage" pager-last-page="@Model.LastPage" pager-url="@pagerUrl"
                   pager-vertical-location="Top" />
    <table id="usersList" class="ui extra large striped celled table">
        <thead>
        <tr>
            <th>
                @Html.LabelFor(m => m.Models.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.LabelFor(m => m.Models.FirstOrDefault().Email)
            </th>
            <th>
                @Html.LabelFor(m => m.Models.FirstOrDefault().Role)
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Models)
        {
            <tr class="@(!user.IsEnabled ? "disabled" : "") user" data-id="@user.Id"
                data-disable->
                <td>
                    @Html.DisplayFor(m => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(m => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => user.Role)
                </td>
                <td class="options">
                    <div class="item">
                        <a class="ui small circular icon button" asp-area="Admin"
                           asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id">
                            <i class="pencil icon"></i>
                        </a>
                    </div>
                    <div class="item">
                        <div class="ui small circular @(user.IsEnabled ? "hidden" : "") green icon button" data-enable-user>
                            <i class="power icon"></i>
                        </div>
                        <div class="ui small circular @(user.IsEnabled ? "" : "hidden") red icon button" data-disable-user>
                            <i class="power icon"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small circular icon button">
                            <i class="fa-ellipsis-h icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <guilded-pager pager-page="@Model.CurrentPage" pager-last-page="@Model.LastPage" pager-url="@pagerUrl"
                   pager-vertical-location="Bottom" />
}

<div id="disableUserModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Disable user
    </div>
    @{ await Html.RenderPartialAsync("DisableUserForm", new DisableUserViewModel()); }
</div>