@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
    var passwordManagementAction = Model.HasPassword ? "ChangePassword" : "SetPassword";
}

<h2>@ViewData["Title"].</h2>
<div class="ui raised success segment">
    @ViewData["StatusMessage"]
</div>

<h4>Change your account settings</h4>
<div>
    <div class="ui divided list">
        <div class="item">
            <div class="header">
                Password
            </div>
            <div class="description">
                <a asp-area="Account" asp-controller="Manage" asp-action="@passwordManagementAction">
                    @passwordManagementAction.Replace("Password", "")
                </a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                External Logins
            </div>
            <div class="description">
                @Model.Logins.Count
                <a asp-area="Account" asp-controller="Manage" asp-action="ManageLogins">
                    Manage
                </a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                Phone Number
            </div>
            <div class="description">
                <p>
                    Phone Numbers can be used as a second factor of verification in two-factor authentication.
                    See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.
                </p>
                @*@(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
            <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                [<button type="submit" class="btn-link">Remove</button>]
            </form>
        }
        else
        {
            <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
        }*@
            </div>
        </div>
        <div class="item">
            <div class="header">
                Two-Factor Authentication
            </div>
            <div class="description">
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                    for setting up this application to support two-factor authentication.
                </p>
                @*@if (Model.TwoFactor)
        {
            <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
            </form>
        }
        else
        {
            <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
            </form>
        }*@
            </div>
        </div>
    </div>
</div>
